<html ng-app="libraryApp">
<head>
    <meta charset="UTF-8">
    <title>Find App Versions</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="../../public/css/main.css" media="screen"/>

</head>
<body>
<div class="container">
    <div class="tr" ng-controller="recentVersions">
        <div class="col-lg-4">
        <form>

            <input name="library" type="text" ng-model="some_value"/>
            <input type="button" class="btn btn-default" ng-click="bringBackAppHistory(some_value)"
                   value="find versions"/>

        </form>

        <p> You chose to look up {{ some_value }} </p>
        <p>{{ message }}</p>

        </div>
        <div class="col-lg-8">
        <h1>{{ appData.name }}</h1>
            
            <!--<ul>
                <li ng-repeat="v in lastfiveversions">{{ v }}</li>

            </ul>-->

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Version</th>
                    <th>Date Released</th>
                </tr>
                <tbody>
                <tr>
                    <td> {{ lastfiveversions[0]["number"] }}</td>
                    <td> {{ lastfiveversions[0]["published_at"] | date : short }}</td>
                </tr>
                <tr>
                    <td> {{ lastfiveversions[1]["number"] }}</td>
                    <td> {{ lastfiveversions[1]["published_at"]| date : short }}</td>
                </tr>
                <tr>
                    <td> {{ lastfiveversions[2]["number"] }}</td>
                    <td> {{ lastfiveversions[2]["published_at"] | date : short }}</td>
                </tr>
                <tr>
                    <td> {{ lastfiveversions[3]["number"] }}</td>
                    <td> {{ lastfiveversions[3]["published_at"] | date : short }}</td>
                </tr>
                <tr>
                    <td> {{ lastfiveversions[4]["number"] }}</td>
                    <td> {{ lastfiveversions[4]["published_at"] | date : short }}</td>
                </tr>
            </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../public/js/jquery.min.js"></script>
<script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/js/angular.min.js"></script>
<script type="text/javascript" src="../../public/js/app.js"></script>
</html>